{%- set roller_flip = {
'cover.salon_roller': 38,
'cover.kitchen_eastern_roller': 38,
'cover.vitrina_roller': 33,
} -%}
{%- set N=6 -%}
{%- set FIRST_OPEN_STEP=0 -%}
{%- set FIRST_CLOSE_STEP=1 -%}
{%- set CLOSE_OFFSET=7 -%}
{%- set open_steps = [6, 2, 0] -%}
{%- set close_steps = [3, 4, 5, 6] -%}
{%- for roller, a in roller_flip.items() -%}
{%- set roller_title = roller.split(".")[1].replace("_", " ") | title %}
    - name: {{ roller_title }}
      entity: {{ roller }}
      hold_action: more-info
      tap_action:
        action: fire-dom-event
        browser_mod:
          service: browser_mod.popup
          data:
            title: {{ roller_title }}
            hide_header: false
            autoclose: true
            content:
              type: grid
              cards:
{%- for s in open_steps %}
                - entity: {{ roller}}
                  show_name: false
                  type: button
                  tap_action:
                    action: call-service
                    service: cover.set_cover_position
                    data:
                      position: {{ (a + s * (100 - a) / (N - FIRST_OPEN_STEP))|round|int }}
                      entity_id: {{ roller}}
                  icon: fapro:shutter-6-open-{{ s }}
{%- endfor -%}
{%- for s in close_steps %}
                - entity: {{ roller}}
                  show_name: false
                  type: button
                  tap_action:
                    action: call-service
                    service: cover.set_cover_position
                    data:
                      position: {{ (a + (s - FIRST_CLOSE_STEP) * ((CLOSE_OFFSET if s < 6 else 0) - a) / (N - FIRST_CLOSE_STEP))|round|int }}
                      entity_id: {{ roller}}
                  icon: fapro:shutter-6-close-{{ s }}
{%- endfor -%}
{%- endfor -%}